html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: #FFFEFC !important;
  text-decoration: none;
}

a:hover {
  color: white !important;
}

* {
  box-sizing: border-box;
}

section:not(#splash, #listen, #watch, #connect) {
  position: relative;
  margin-bottom: 15vh;
}

section:not(#splash, #listen, #watch, #connect)::after {
  position: absolute;
  bottom: -15vh;
  content: '';
  display: block;
  height: 15vh;
  width: 100vw;
  background-image: url('/janax/bg caracol didge.jpeg');
}

main {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.animate-icon {
  margin-bottom: .8em;
  animation: updownRel2 3s linear infinite; 
}

.shop-music-button:hover>.animate-icon {
  margin-bottom: .8em;
  animation: none;
  transform: translateY(2vh) ;
}

h2 {
  font-family: 'Cabin Sketch' !important;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 52px !important;
  line-height: 52px !important;
  letter-spacing: 0.2em;
  color: #3C4230;
}

h3 {
  font-family: 'Neucha' !important;
  font-style: normal;
  letter-spacing: 0.2em;
  animation: leftright 3s linear infinite !important;
}

h4 {
  margin-top: 7rem !important;
  text-align: center;
  font-family: 'Cabin Sketch' !important;
  text-transform: uppercase;
  font-size: 36px !important;
  font-weight: 400 !important;
  letter-spacing: 0.2em;
  color: #FFFEFC;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.pt {
  padding-top: 1em;
}

.pt2 {
  padding-top: 2em;
}

.py1 {
  padding: 1em 0;
}

.py2 {
  padding: 2em 0;
}

.py3 {
  padding: 3em 0;
}

.py5 {
  padding: 5em 0;
}

.p5-2 {
  padding: 4em 2em;
}

.mb2 {
  margin-bottom: 2em;
}

.mb3 {
  margin-bottom: 3em;
}

.ml {
  margin-left: .5em;
}
.ml1 {
  margin-left: 1.5em;
}
.ml-1 {
  margin-left: -.75em;
}

.flex {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#listen .flex-center img {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

.flicking-arrow-prev, .flicking-arrow-next {
  width: initial !important;
  height: initial !important;
  transition: transform 1s;
}

.flicking-arrow-prev:active, .flicking-arrow-next:active {
  transform: scale(.9);

}

.top-nav {
  display: flex;
  padding: .8em 2.5em;
  background-image: url('/janax/nav.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  transition: opacity 1s ease-in-out;
}

.top-nav #social-icons {
  font-size: 22px;
}

.top-nav i {
  margin-left: 1em !important;
  color: #4A503D !important;
}

.top-nav i:hover {
  margin-left: 1em !important;
  color: #000 !important;
}

#anchor-tags {
  transition: opacity 1s ease-in-out;
  border: 0;
}

#anchor-tags a {
  color: #272921 !important;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.14em;
  margin-right: 56px;
  white-space: nowrap;
}

#anchor-tags a:hover {
  color: #000 !important;
}

#anchor-tags .in-view {
  font-weight: 400;
}

.full-page {
  padding: 2.5rem;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
}

#splash {
  background-image: url('/janax/bg caracol didge.jpeg');
  position: relative;
  background-position: 57%;
}

#logo-container {
  display: inline-flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
  padding: 1em;
}

#logo-container img{
  width: 50%;
}

#splash-nav {
  display: inline-flex;
  justify-content: center;
}

#splash-nav .button, #listen .button, #watch .button:not(.arrow-play-icon-container), #download-photos .button {
  color: rgba(255, 255, 255, 0.9);
  background: url('/janax/button background.png') repeat rgba(74, 80, 61, 0.55);
  box-shadow: 0 5px 5px rgba(54, 60, 41, 0.6);
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.14em;
  padding: 1em;
  margin: 0 3rem;
  animation: glide 20s linear infinite;
}

#splash-nav .button:hover, #listen .button:hover, #watch .button:hover, #download-photos .button:hover {
  color: rgba(255, 255, 255, 1);
  background: url('/janax/button background.png') repeat rgba(74, 80, 61, 1);
}

#splash-arrows {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: updown 3s linear infinite; 
  cursor: pointer;
}

#splash-arrows img {
  margin-top: -.9em;
}

#quote-container {
  background-image: url('/janax/quote texture.png');
  background-size: cover;
  text-align: center;
}

#hanaq-quote {
  margin: auto;
  padding: 3em;
  max-width: 1100px;
  font-family: 'Cabin Sketch';
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.2em;
  color: #3C4230;
  transition: all 1s ease-in-out;
}

#about-me {
  background-image: url('/janax/aboutme2.png');
  background-size: cover;
  background-position: center;
  padding: 6rem 0 5rem 0;
}

.icons-container {
  display: inline;
  padding: 0 0.5em;
  vertical-align: -webkit-baseline-middle;
}

.icons-container img {
  display: initial !important;
  margin: -.5em -.1em 0 .1em;
  opacity: .6;
}

.icons-container img.tight {
  margin: -.5em -.2em 0 -.1em;
}

#about-text {
  font-family: 'Neucha' !important;
  color: #3C4230;
  font-size: 20px;
  letter-spacing: 0.2em;
  margin-top: 2em;
  padding: 0 0.5em;
}

#about-text p {
  margin-bottom: .5em;
  line-height: 1.1em;
}

#about-final-quote {
  background-image: url('/janax/scratched bg.png');
  font-family: 'Averia Sans Libre';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.16em;
  color: #3C4230;
  margin: 2em 0;
}

.triangle-down {
  transform: translateY(0);
  animation: updownRel 3s linear infinite; 
  cursor: pointer;
}

#listen {
  background-image: url('/janax/listen bg.png'); 
  background-size: cover;
  padding: 5rem 0;
}

.title-container {
  text-align: center;
  margin-bottom: 5em;
  color: #3C4230;;
}

.title-container p, #shop-container p {
  font-size: 20px;
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 24.75px !important
}

.spotify-playlist {
  text-align: center;
  position: relative;
}

#shop-container, #watch-more, #download-photos {
  text-align: center;
  color: #3C4230;
}

#watch-more, #download-photos {
  margin: 2em 0;
}

#shop-container img {
  opacity: .6;
}

#shop-container button i {
  margin-top: -.2em !important;
}

.spotify-playlist:before {
  content: '';
  position: absolute;
  left: -3.5em;
  top: 0;
  height: 100%;
  width: 24px;
  background-image: url('/janax/bamboo.png');
}

.spotify-playlist:after {
  content: '';
  position: absolute;
  right: -3.5em;
  top:0;
  height: 100%;
  width: 24px;
  background-image: url('/janax/bamboo.png');
}

.spotify-playlist:before, .spotify-playlist:after {
  animation: updownRel 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform-origin: 0 100%;
}

#watch {
  background-image: url('/janax/bg caracol didge.jpeg');
  padding: 5.5rem 0;
  background-position: 57%;
}

#watch .title-container p, #watch .title-container h2, #connect h2 {
  color: #FFFEFC;
  text-align: center;
}

#experience {
  background-image: url('/janax/experience.png');
  padding: 5.5rem 0;
}



.soundcloud-arrows {
  opacity: .6;
  display: inline-block;
  text-align: -webkit-center;
  margin-top: 1.3em;
}

.soundcloud-arrows img {
  margin-bottom: -1.5em
}

.soundcloud-arrows.updownRel {
  animation: updownRel 3s linear infinite; 
} 

#photos {
  background-image: url('/janax/photos.png');
  padding: 5.5rem 0;
  text-align: center;
}

#download-photos .button {
  margin-top: 3em;
  line-height: 1.8;
}

#connect {
  background: url('/janax/connect.png') rgba(0, 0, 0, .2);
  background-size: cover;
  background-blend-mode: multiply;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.painted-spread {
  background: url('/janax/scratched bg.png');
  background-size: cover;
  padding: 1em;
}

#connect-contacts {
  color: #FFFEFC;
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.2em;
  text-align: center;
}

.connect-arrows {
  width: 100%;
  margin: auto;
  filter: brightness(10);
}

i.paypal {
  color: #FFFEFC;
  padding: 1em;
  animation: glideAntiRotate 35s linear infinite;
}

#connect .paypal-btn {
  background-color: transparent !important;
  background-image: url('/janax/pp border.png') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  box-shadow: none !important;
  margin-top: 5rem !important;
  animation: glideRotate 35s linear infinite;
  padding: .5em;
  opacity: .8;
}

#connect .paypal-btn:hover {
  background-color: transparent !important;
  background-image: url('/janax/pp border.png') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  filter: contrast(1.5);
  transition: all .5s ease-out;
}

#connect .ui.button>.icon:not(.button) {
  opacity: 1;
}

#connect .icons-container img {
  margin-left: -.2rem;
}

#watch .thumbnail-container {
  transition: transform .7s ease-in-out; 
}
#watch .thumbnail-container:hover {
  transform: scale(1.05);
}

.popup-animate {
  width: calc(100% - 4em);
  padding: 2em 4em;
  float: left;
  background-image: url('/janax/quote texture.png') !important;
  background-size: contain !important;
  background-blend-mode: multiply !important;
  margin-left: 2em;
  border-radius: 4px;
  z-index: 999;
  position: relative;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1199px) and (min-width: 1000px)  {
  #anchor-tags a {
    margin-right: 22px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 600px)  {
  .top-nav {
    justify-content: center;
  }
  
  #anchor-tags a {
    font-size: .8rem !important;
    margin-right: 32px;
  }

  .top-nav #social-icons {
    display: none;
  }

  #about-me h2 {
    text-align: right;
  }

  #about-me .icons-container {
    float: right;
  }

  #about-text {
    margin-top: 200px !important;
  }

  #about-text, #about-final-quote {
    padding: 1em;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
  }
}

@media (min-width: 600px) {  
  #connect-contacts {
    text-align: left;
  }

  #watch .title-container {
    margin-bottom: 3em;
  }
  
  .spotify-playlist {
    margin-top: -4em !important;
    width: 52%;
    margin: auto;
  }

  #shop-container {
    margin: 0;
  }

  .listen-symbol {
    margin-top: -1em;
  }

  .soundcloud-playlist, #experience .title-container {
    width: calc(52% + 96px);
    margin: auto;
  }

  .mobile-only {
    display: none !important;
  }

  .top-nav.hidden {
    opacity: 0;
  }

  .flicking-container {
    margin: auto;
    max-width: 60vw;
  }

  .slider-photo {
    max-height: 50vh;
  }

  #connect .icons-container img{
    animation: leftright 5s linear infinite;
  }
}

@media only screen and (max-width: 600px) and (min-width: 550px)  {
  #about-text {
    margin-top: 400px !important;
  }

  #about-text, #about-final-quote {
    padding: 1em;
    background-color: rgba(255,255,255,.4) !important;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 550px) and (min-width: 470px)  {
  #about-text {
    margin-top: 700px !important;
  }
}

@media (max-width: 600px) {
  h2 {
    padding-left: .2em !important;
    font-size: 36px !important;
    line-height: 42.16px !important;
  }

  h4 {
    margin-top: 4rem !important;
  }

  #connect h2 {
    margin-bottom: 1.5em;
  }

  h4 {
    font-size: 30px !important;
  }

  #splash-nav .button {
    margin: 0 7rem;
  }

  .hidden-mobile {
    display: none !important;
  }

  .menu-icon {
    color: #4A503D;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
  }

  .menu-icon.closed-menu {
    color: #fff !important;
  }

  .top-nav {
    padding: 0;
    top: 0;
    background-image: url('/janax/m_menu.png');
    background-size: cover !important;
    justify-content: start;
    transition: top .7s ease-in-out;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(54, 60, 41, 0.3);
    animation: pulse-bg 8s infinite;
  }

  .top-nav #logo-container img {
    margin-top: 2em;
  }

  .top-nav.closed-menu {
    top: -100%;
  }

  .top-nav.closed-menu #anchor-tags {
    opacity: 0;
  }

  #anchor-tags {
    display: flex;
    flex-direction: column;
    padding: 20px;
    opacity: 1;
  }

  #anchor-tags .in-view::before {
    content: '· ';
  }

  #anchor-tags a {
    padding: 10px 0;
  }

  #social-icons {
    display: none;
  }

  #logo-container {
    margin-bottom: 3em;
  }
  
  #logo-container img {
    margin-top: 25vh;
  }

  #splash-nav {
    flex-direction: column;
  }

  #splash.full-page.flex {
    padding: 0;
  }

  #splash-nav .button{
    margin-bottom: 1.5em;
  }

  #splash-arrows img {
    transform: scale(.65);
    margin-top: -1.3em;
  }

  #quote-container {
    background-image: url('/janax/m_quote texture.png');
    background-size: cover;
    text-align: center;
    margin-bottom: 15em;
  }

  #hanaq-quote {
    padding: 2em;
    font-size: 22px;
    line-height: 26px;
  }

  #about-me {
    background-image: url('/janax/m_about me.png');
    padding-top: 2em;
  }

  #about-text {
    font-size: 18px;
    margin-top: 500px;
  }

  #about-text p {
    line-height: 19.83px;
  }

  #about-final-quote {
    font-size: 18px;
    background: none;
    background-image: url('/janax/scratched bg.png');
    background-size: cover;
  }

  #about-final-quote p {
    line-height: 22.27px;
  }

  .title-container {
    padding: .5em;
    font-size: 18px !important;
  }

  #listen, #watch, #experience {
    padding: 3em 0;
  }

  #listen .title-container {
    margin-bottom: 1em;
  }

  .title-container p, #shop-container p {
    padding: .5em;
    font-size: 18px !important;
  }

  .spotify-playlist {
    max-width: 80vw;
    max-height: 150px;
    margin: auto;
    padding-right: 8px;
  }

  .spotify-playlist iframe {
    height: 240px;
  }

  .spotify-playlist:before {
    left: -1.5em;
    width: 8px;
    background-image: url('/janax/m_bamboo.png');
  }
  
  .spotify-playlist:after {
    content: '';
    right: calc(-1.5em + 8px);
    width: 8px;
    background-image: url('/janax/m_bamboo.png');
  }

  .soundcloud-arrows {
    margin-top: 1em;
    transform: scale(.7);
  }

  .soundcloud-arrows img {
    margin-bottom: -1.3em
  }

  .soundcloud-playlist {
    max-width: 80vw;
    margin: auto;
  }

  #watch {
    background-position: top;
    background-size: cover;
  }

  #watch .flicking-arrow-prev, #watch .flicking-arrow-next {
    filter: brightness(15);
    border-radius: 10%;
    padding: 1em 1.8em;
    background-color: rgba(0,0,0,.3);
    transform: scale(.5) translateY(-75%);
  }

  #watch .flicking-arrow-prev {
    left: -20px;
  }

  #watch .flicking-arrow-next {
    right: -20px;
  }

  #watch .thumbnail-items-container {
    position: relative;
  }

  #watch .arrow-play-icon-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.75);
    filter: brightness(1);
    border-radius: 50%;
    background-image: url('/janax/button background.png') !important;
    background-color: rgba(80, 80, 80, 0.55) !important;
    background-repeat: repeat !important;
    background-size: contain !important;
    box-shadow: 0 5px 5px rgba(54, 60, 41, 0.6);
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    animation: glide 20s linear infinite;
  }

  #watch .arrow-play-icon {
    filter: brightness(10);
    opacity: .8;
    transform: translateX(5px);
  }

  .popup-animate .consider-subscribing {
    font-size: small;
    text-align: center;
    animation: none !important;
  }

  .consider-subscribing::before {
    content: '';
  }

  #experience .title-container, #watch .title-container {
    margin-bottom: 1em;
  }

  #experience .mobile-only p:nth-child(1) {
    background-image: url('/janax/m_scratched bg.png');
  }

  #photos {
    background-image: url('/janax/m_photos.png');
    background-size: cover;
  }

  #connect {
    background: url('/janax/connect.png') rgba(0, 0, 0, .3);
    background-size: cover;
    background-position-x: 19%;
  }

  #connect-contacts {
    font-size: 18px;
    line-height: 20px;
    background-size: cover;
    padding: 1em 0;
  }

  .icons-container.mobile-only img {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

/* ANIMATIONS */

.animate-into-view {
  opacity: 1;
  filter: blur(0); 
  transition: opacity 2s, filter 1s ease-in-out;
}

.animate-out-of-view {
  opacity: 0;
  filter: blur(5px);
  transition: opacity .7s, filter 5s, transform 1s ease-in-out;
}

.animate-out-of-view.popup-animate {
  transform: translateY(50vh);
}

@keyframes glide {
  from {
      background-position:0 0;
  } to {
    background-position:100% 0;
  }
}

@keyframes glideRotate {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@keyframes glideAntiRotate {
  from {
    transform: rotate(360deg);
  } to {
    transform: rotate(0deg);
  }
}

@keyframes updown {
  0% {
      bottom: 3%;
  }
  50% {
      bottom: 0;
  }
  100% {
    bottom: 3%;
  }
}

@keyframes updownRel {
  0% {
    transform: translateY(1vh);
  }
  50% {
    transform: translateY(-1vh);
  }
  100% {
    transform: translateY(1vh);
  }
}

@keyframes updownRel2 {
  0% {
    transform: translateY(1.5vh);
  }
  50% {
    transform: translateY(2vh);
  }
  100% {
    transform: translateY(1.5vh);
  }
}

@keyframes leftright {
  0% {
    transform: translateX(1vh);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1vh);
  }
}

@keyframes pulse-bg {
  0% {
    background-size: auto 100%;
    background-position: left 100%;
  }

  25% {
    background-size: auto 125%;
    background-position: left 70%;
  }

  50% {
    background-size: auto 100%; 
    background-position: left 100%;
  }

  75% {
    background-size: auto 110%;
    background-position: left 80%;
  }

  100% {
    background-size: auto 100%;
    background-position: left 100%;
  }
}

.expand-from-center{
  animation: expand_center 1s ease-in-out;
}

@keyframes expand_center {
  0% {
  clip-path: polygon(50% 100%,50% 0,50% 0,50% 100%);
    -webkit-clip-path: polygon(50% 100%,50% 0,50% 0,50% 100%);
 }
  100%{
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  }
}

@keyframes bamboo {
  0% {
    }
  25%{
    transform: skew(1deg, 0deg);
  }
  75%{
    transform: skew(-1deg, 0deg);
  }
}