html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: #FFFEFC !important;
  text-decoration: none;
}

a:hover {
  color: white !important;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

h2 {
  font-family: 'Cabin Sketch' !important;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 52px !important;
  line-height: 52px !important;
  letter-spacing: 0.2em;
  color: #3C4230;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.pt {
  padding-top: 1em;
}

.py2 {
  padding: 2em 0;
}

.py3 {
  padding: 3em 0;
}

.py5 {
  padding: 5em 0;
}

.p5-2 {
  padding: 4em 2em;
}

.ml {
  margin-left: .5em;
}
.ml1 {
  margin-left: 1.5em;
}
.ml-1 {
  margin-left: -.75em;
}

.flex {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.top-nav {
  display: flex;
  padding: .8em 2.5em;
  background-image: url('/janax/nav.png');
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.top-nav #social-icons {
  font-size: 22px;
}

.top-nav i {
  margin-left: 1em !important;
  color: #4A503D !important;
}

.top-nav i:hover {
  margin-left: 1em !important;
  color: #000 !important;
}

#anchor-tags a {
  color: #272921 !important;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.14em;
  margin-right: 56px;
}

#anchor-tags a:hover {
  color: #000 !important;
}

#anchor-tags .in-view {
  font-weight: 400;
}

.full-page {
  padding: 2.5rem;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
}

#splash {
  background-image: url('/janax/bg caracol didge.jpeg');
  position: relative;
  background-position: 57%;
}

#logo-container {
  display: inline-flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
  padding: 1em;
}

#logo-container img{
  width: 50%;
}

#splash-nav {
  display: inline-flex;
  justify-content: center;
}

#splash-nav .button, #listen .button, #watch .button, #download-photos .button {
  color: rgba(255, 255, 255, 0.9);
  background: url('/janax/button background.png') repeat rgba(74, 80, 61, 0.55);
  box-shadow: 0 5px 5px rgba(54, 60, 41, 0.6);
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.14em;
  padding: 1em;
  margin: 0 3rem;
}

#splash-nav .button:hover, #listen .button:hover, #watch .button:hover, #download-photos .button:hover {
  color: rgba(255, 255, 255, 1);
  background: url('/janax/button background.png') repeat rgba(74, 80, 61, 1);
}

#splash-arrows {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: updown 3s linear infinite;  */
}

#splash-arrows img {
  margin-top: -.9em;
}

#quote-container {
  background-image: url('/janax/quote texture.png');
  background-size: cover;
  text-align: center;
}

#hanaq-quote {
  margin: auto;
  padding: 3em;
  max-width: 1100px;
  font-family: 'Cabin Sketch';
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.2em;
  color: #3C4230;
}

#hidden-img {
  background-image: url('/janax/home pic cropped.png');
  background-size: cover;
  min-height: 60vh;
}

#about-me {
  background-image: url('/janax/about me.png');
  background-size: cover;
  padding: 5rem 0;
}

.icons-container {
  display: inline;
  padding: 0 0.5em;
  vertical-align: -webkit-baseline-middle;
}

.icons-container img {
  display: initial !important;
  margin: -.5em -.1em 0 .1em;
  opacity: .6;
}

.icons-container img.tight {
  margin: -.5em -.2em 0 -.1em;
}

#about-text {
  font-family: 'Neucha' !important;
  color: #3C4230;
  font-size: 23px;
  letter-spacing: 0.2em;
  margin-top: 2em;
  padding: 0 0.5em;
}

#about-text p {
  margin-bottom: .5em;
  line-height: 1.3em;
}

#about-final-quote {
  background-image: url('/janax/scratched bg.png');
  font-family: 'Averia Sans Libre';
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0.16em;
  color: #3C4230;
  margin: 2em 0;
}

#listen {
  background-image: url('/janax/listen bg.png'); 
  background-size: cover;
  padding: 5rem 0;
}

.title-container {
  text-align: center;
  margin-bottom: 5em;
  color: #3C4230;;
}

.title-container p, #shop-container p {
  font-size: 20px;
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 24.75px !important
}

.spotify-playlist {
  text-align: center;
  position: relative;
}

#shop-container, #watch-more, #download-photos {
  text-align: center;
  margin: 2em 0 3em 0;
  color: #3C4230;
}

.spotify-playlist:before {
  content: '';
  position: absolute;
  left: -3.5em;
  top: 0;
  height: 100%;
  width: 24px;
  background-image: url('/janax/bamboo.png');
}

.spotify-playlist:after {
  content: '';
  position: absolute;
  right: -3.5em;
  top:0;
  height: 100%;
  width: 24px;
  background-image: url('/janax/bamboo.png');
}

#watch {
  background-image: url('/janax/bg caracol didge.jpeg');
  padding: 5rem 0;
  background-position: 57%;
}

#watch .title-container p, #watch .title-container h2, #connect h2 {
  color: #FFFEFC;
  text-align: center;
}

#experience {
  background-image: url('/janax/experience.png');
  padding: 5rem 0;
}

.soundcloud-arrows {
  opacity: .6;
  display: inline-block;
  text-align: -webkit-center;
  margin-top: 3em;
}

.soundcloud-arrows img {
  margin-bottom: -1.5em
}

#photos {
  background-image: url('/janax/photos.png');
  padding: 5rem 0;
  text-align: center;
}

#download-photos .button {
  margin-top: 2em;
  color: #4A503D;
  background: transparent;
}

#connect {
  background: url('/janax/connect.png') rgba(0, 0, 0, .2);
  /* background: url('/janax/connect.png'); */
  background-size: cover;
  background-blend-mode: multiply;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#connect-contacts {
  color: #FFFEFC;
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0.2em;
  text-align: center;
  /* background: url('/janax/m_scratched bg.png');
  background-size: cover; */
}

.connect-arrows {
  width: 100%;
  margin: auto;
  filter: brightness(10);
}

.paypal {
  color: #FFFEFC;
  background-image: url('/janax/pp border.png');
  background-size: cover;
  padding: 1em;
}

.paypal-btn {
  box-shadow: none !important;
  margin-top: 5rem !important;
}

#connect .paypal-btn:hover {
  background-color: transparent !important;
  filter: contrast(1.5);
  transition: all .5s ease-out;
}

#connect .icons-container img {
  margin-left: -.2rem;
  /* opacity: 1; */
}

@media (min-width: 600px) {
  #splash {
    z-index: 2;
  }
  
  .spotify-playlist {
    width: 52%;
    margin: auto;
  }

  .soundcloud-playlist, #experience .title-container {
    width: calc(52% + 96px);
    margin: auto;
  }

  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 600px) {
  h2 {
    padding-left: .2em !important;
    font-size: 36px !important;
    line-height: 42.16px !important;
  }

  .hidden-mobile {
    display: none !important;
  }

  #logo-container {
    margin-bottom: 0;
  }
  
  #logo-container img {
    margin-top: 25vh;
  }

  #splash-nav {
    flex-direction: column;
  }

  #splash-nav .button{
    background: transparent !important;
    border: none;
    margin-bottom: 1.5em;
    box-shadow: none !important;
  }

  #splash-arrows img {
    transform: scale(.65);
    margin-top: -1.3em;
  }

  #quote-container {
    background-image: url('/janax/m_quote texture.png');
    background-size: cover;
    text-align: center;
  }

  #hanaq-quote {
    padding: 2em;
    font-size: 22px;
    line-height: 26px;
  }

  #about-me {
    background-image: url('/janax/m_about me.png');
    padding-top: 2em;
  }

  #about-text {
    font-size: 18px;
    padding-top: 500px;
  }

  #about-text p {
    line-height: 19.83px;
  }

  #about-final-quote {
    font-size: 18px;
    background: none;
  }

  #about-final-quote p {
    line-height: 22.27px;
  }

  .title-container {
    padding: .5em;
    font-size: 18px !important;
  }

  .title-container p, #shop-container p {
    padding: .5em;
    font-size: 18px !important;
  }

  .spotify-playlist {
    max-width: 80vw;
    margin: auto;
    padding-right: 8px;
  }

  .spotify-playlist iframe {
    height: 240px;
  }

  .spotify-playlist:before {
    left: -1.5em;
    width: 8px;
    background-image: url('/janax/m_bamboo.png');
  }
  
  .spotify-playlist:after {
    content: '';
    right: calc(-1.5em + 8px);
    width: 8px;
    background-image: url('/janax/m_bamboo.png');
  }

  .soundcloud-arrows {
    margin-top: 1em;
    transform: scale(.7);
  }

  .soundcloud-arrows img {
    margin-bottom: -1.3em
  }

  .soundcloud-playlist {
    max-width: 80vw;
    margin: auto;
  }

  #watch {
    background-position: top;
  }

  #experience .title-container, #watch .title-container {
    margin-bottom: 1em;
  }

  #experience .mobile-only p:nth-child(1) {
    background-image: url('/janax/m_scratched bg.png');
  }

  #photos {
    background-image: url('/janax/m_photos.png');
  }

  #connect {
    background: url('/janax/m_connect.png') rgba(0, 0, 0, .3);
    background-size: cover;
  }

  #connect-contacts {
    font-size: 18px;
    line-height: 20px;
    /* background: url('/janax/m_scratched bg.png'); */
    background-size: cover;
    padding: 1em 0;
  }

  .icons-container.mobile-only img {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@keyframes updown {
  0% {
      bottom: 5%;
  }
  50% {
      bottom: 0;
  }
  100% {
    bottom: 5%;
}
}